/* .NavbarContainer {
    position: relative;
} */

/* 

@media screen and (min-width: "0px")and(max-width:"370px") {
    .Container {
        background-color: aquamarine;
    }

    /* .sellBtn {
        position: absolute;
        top: 300px;
        right: 100px;
    } */


.turnIcon:hover {

    transform: "rotate(180deg)"


}